{% extends "core/base.html" %}

{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
<main>
	{% if is_premium %}
		<h1 class="hits-text">Search Results</h1>

		{% for track in tracks %}
			<div>
				<img src="{{ track.image_link }}" alt="Album cover" class="cover-img" />
				<h1><strong>{{ track.track_name }} – {{ track.artist_name }}</strong></h1><br>
				<button class="submit-hit" 
						data-track-id="{{ track.track_id }}"
						data-track-name="{{ track.track_name }}"
						data-artist="{{ track.artist_name }}"
						data-image="{{ track.image_link }}">
					Submit Hit
				</button>
			</div>
		{% endfor %}

		<button onclick="redirectSubmitHit()">Search Another</button>
		
	{% else %}
	<h1>Upgrade to Premium to Search Tracks<span>🔒</span></h1>
	<p>Some features require a Premium subscription 🎵</p>
	{% endif %}
</main>
{% endblock %}

{% block scripts %}
<script>
	function redirectSubmitHit() {
		const redirectURL = "{% url 'core:submit a hit' %}";
		window.location.href = redirectURL;
	}
</script>

<script>
	document.querySelectorAll('.submit-hit').forEach(button => {
		button.addEventListener('click', () => {
			const trackID = button.dataset.trackId;
			const trackName = button.dataset.trackName;
			const artist = button.dataset.artist;
			const image = button.dataset.image;
	
			const requestData = {
				trackID: trackID,
				trackName: trackName,
				artist: artist,
				image: image
			};
	
			fetch("{% url 'core:success' %}", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': getCookie('csrftoken')
				},
				body: JSON.stringify(requestData)
			})
			.then(response => {
				if (response.ok) {
					response.text().then(html => {
						document.open();
						document.write(html);
						document.close();
					});
				} else {
					alert('Failed to Submit Hit. Please try again.');
				}
			})
			.catch(error => {
				console.error('Error:', error);
				alert('An error occurred while submitting the hit. Please try again.');
			});
		});
	});
</script>
{% endblock %}
